@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Project 1</h1>
    <p>Taylor Tillman, Computing, Information Technology</p>
    <p>Rolls a dice with input from the URl in the format /rolldice/count/sides. Counts being the number of times tyhe dice is rolled. Sides being the amount of sides the dice has.</p>
    <p><a href="https://localhost:5001/rolldice/2/2">Dice Roll</a></p>
    <p>Encryption and Decrytion that takes URl input in the format of /encryption/1224 or /decryption/1224.</p>
    <p><a href="https://localhost:5001/encrypt/1">Encryption that gives error</a></p>
    <p><a href="https://localhost:5001/encrypt/1290">Working Encryption</a></p>
    <p><a href="https://localhost:5001/decrypt/1">Decryption that gives error</a></p>
    <p><a href="https://localhost:5001/decrypt/1290">Working Decryption</a></p>
    <p>Vertical bar that prints * in vertical columns based of URL input. The format is /vbargraph/1/1/1/1</p>
    <p><a href="https://localhost:5001/vbargraph/5/1/3/1/10">Vertical Bar</a></p>
    <p><a href="https://localhost:5001/vbargraph/21/1/3/1/10">Vertical Bar that gives error</a></p>
</div>
